{
    "#periodic": true,
    "#wire_network": "2D_patterns/box_3D.wire",
    "#wire_network": "2D_patterns/square.wire",
    "wire_network": "2D_patterns/octagon.wire",
    "thickness": 0.5,
    "bbox_min": [0.0, 0.0],
    "bbox_max": [40.0, 40.0],
    "repeats": [8, 8],
    "#modifier_file": "test.modifier",
    "#quad_mesh": "bar_2D_4x20.msh",
    "output": "tmp.obj"
}
