# Extra directories
.vscode/
.idea/
build/
cmake-build-*/
data

# Dependencies
/3rdparty/.cache
/3rdparty/Catch2
/3rdparty/ceres
/3rdparty/cgal
/3rdparty/CLI11
/3rdparty/nlopt
/3rdparty/tbb
/3rdparty/libigl


# LaTeX
*.bbl
*.blg
*.log
*.out
*.pdf
*.aux
*.synctex.gz
*.fdb_latexmk
*.fls
*.run.xml
*-blx.bib
