{
"csv_file": "../results/Poisson0.3/h0.300000_2.000000_0.300000_2.csv",
"plots": [
    {
        "type" : "scatter_plot",
        "x": "Youngs_modulus",
        "y": "Poisson_ratio",
        "w": "Error",
        "add_points": [
            {"x": 1, "y": 0.3},
            {"x": 2, "y": 0.3}
        ],
        "add_texts": [
            {"x": 1, "y": 0.3, "text": " A"},
            {"x": 2, "y": 0.3, "text": " B"}
        ],
        "title": "Rank-2 laminates (Error < 1.0)\nYoung's modulus vs Poisson ratio",
        "out_name": "p2_e1.0_young_poisson_error.png",
        "width": 10,
        "height": 6
    },
    {
        "type" : "scatter_plot",
        "x": "Youngs_modulus",
        "y": "Poisson_ratio",
        "w": "Ratio_0 + Ratio_1",
        "add_points": [
            {"x": 1, "y": 0.3},
            {"x": 2, "y": 0.3}
        ],
        "add_texts": [
            {"x": 1, "y": 0.3, "text": " A"},
            {"x": 2, "y": 0.3, "text": " B"}
        ],
        "title": "Rank-2 laminates (Error < 1.0)\nYoung's modulus vs Poisson ratio",
        "out_name": "p2_e1.0_young_poisson_ratio.png",
        "width": 10,
        "height": 6
    },
    {
        "type" : "scatter_plot",
        "x": "Youngs_modulus",
        "y": "Poisson_ratio",
        "w": "angle_diff",
        "add_columns": [
            {
                "name": "angle_diff",
                "formula": "pmin(abs(Angle_0 - Angle_1), pi - abs(Angle_0 - Angle_1))"
            }
        ],
        "add_points": [
            {"x": 1, "y": 0.3},
            {"x": 2, "y": 0.3}
        ],
        "add_texts": [
            {"x": 1, "y": 0.3, "text": " A"},
            {"x": 2, "y": 0.3, "text": " B"}
        ],
        "title": "Rank-2 laminates (Error < 1.0)\nYoung's modulus vs Poisson ratio",
        "out_name": "p2_e1.0_young_poisson_angle.png",
        "width": 10,
        "height": 6
    }
]
}
