{
    "wire_file": "patterns/brick5.wire",
    "orbit_file": "patterns/brick5.orbit",
    "thickness": {
        "per_edge": true,
        "orbits": [0, 2, 3],
        "thickness_range": [0.5, 1.0],
        "num_samples": 3,
        "default": 0.5
    },
    "offset": {
        "orbits": [1, 2, 3],
        "offset_percentage": [-0.25, 0.25],
        "num_samples": 3,
        "default": 0.0
    }
}
