{
    "wire_file": "patterns/brick5.wire",
    "thickness": {
        "per_edge": true,
        "orbits": "none",
        "thickness_range": [0.3, 1.0],
        "num_samples": 3,
        "default": 0.5
    },
    "offset": {
        "orbits": "all",
        "offset_percentage": [-0.25, 0.25],
        "num_samples": 3,
        "default": 0.0
    }
}
