{
    "#trim": true, 
    "periodic": true,
    "#no_tile": true,
    "subdiv": 2,
    "thickness": 0.7071, 
    "#thickness": 0.5, 
    "bbox_min": [
        0.0, 
        0.0, 
        0.0
    ], 
    "#wire_network": "pattern0046.wire",
    "#wire_network": "pattern0050.wire",
    "#wire_network": "pattern1085.wire",
    "#wire_network": "patterns/2D/arrow.wire", 
    "#wire_network": "patterns/2D/box.wire", 
    "#wire_network": "patterns/2D/box2.wire", 
    "#wire_network": "patterns/2D/star2.wire", 
    "#wire_network": "patterns/2D/square_s1.wire", 
    "#wire_network": "patterns/2D/plus.wire", 
    "#wire_network": "patterns/2D/rhombus_s1.wire", 
    "#wire_network": "patterns/3D/brick5.wire", 
    "#wire_network": "patterns/3D/cube.wire", 
    "#wire_network": "patterns/3D/diamond.wire", 
    "#wire_network": "patterns/3D/diamond2.wire", 
    "#wire_network": "patterns/3D/star.wire", 
    "wire_network": "patterns/3D/truncated_octahedron.wire", 
    "#wire_network": "patterns/3D/10_3_a.wire", 
    "#wire_network": "patterns/box_3D.wire", 
    "modifier_file": "test.modifier",
    "#guide_mesh": "cone.msh",
    "repeats": [
        1, 
        1, 
        1
    ], 
    "bbox_max": [
        5.0, 
        5.0, 
        5.0
    ]
}
