{
"csv_file": "../results/Poisson0.3/h0.300000_3.000000_0.300000_3.csv",
"plots": [
    {
        "type" : "scatter_plot",
        "x": "Youngs_modulus",
        "y": "Poisson_ratio",
        "w": "Error",
        "add_points": [
            {"x": 1, "y": 0.3},
            {"x": 3, "y": 0.3}
        ],
        "add_texts": [
            {"x": 1, "y": 0.3, "text": " A"},
            {"x": 3, "y": 0.3, "text": " B"}
        ],
        "title": "Rank-3 laminates (Error < 1.0)\nYoung's modulus vs Poisson ratio",
        "out_name": "p3_e1.0_young_poisson_error_3.0.png",
        "width": 10,
        "height": 6
    }
]
}
